<div class="container my-5">
  <h1 class="text-center text-light">CÁC TRUNG TÂM NỔI BẬT</h1>
  <div class="row justify-content-around my-5">
    <img src="../static/images/topica.jpg" alt="" width="200" height="200">
    <img src="../static/images/apollo.jpg" alt="" width="200" height="200">
    <img src="../static/images/res.jpg" alt="" width="200" height="200">
  </div>
  <div class="row justify-content-around my-5">
    <img src="../static/images/ila.jpg" alt="" width="200" height="200">
    <img src="../static/images/apax.jpg" alt="" width="200" height="200">
    <img src="../static/images/techkids.jpg" alt="" width="200" height="200">
  </div>
</div>
