<div class="bg-light my-5">
  <h3 class="text-center font-sriracha text-33 pt-4 my-5">Bạn cần tìm trung tâm học tập nhưng lại không biết nơi nào tốt và phù hợp?
  <br>
  Hãy để EasyEducation giúp bạn!</h3>
  <div class="row justify-content-center pb-5">
    <div class="btn-group dropright">
    <button type="button" class="btn btn-dark btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropright</span> Chọn Lĩnh Vực Bạn Muốn Học
    </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Tiếng Anh</a>
        <a class="dropdown-item" href="#">Tiếng Nhật</a>
        <a class="dropdown-item" href="#">Tiếng Pháp</a>
        <a class="dropdown-item" href="#">Lập Trình</a>
      </div>
    </div>
  </div>
</div>
